@model EntityLayer.Concrete.SocialMedia

@{
    ViewData["Title"] = "AddSocialMedia";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


@using (Html.BeginForm("AddSocialMedia", "SocialMedia", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description"> Yeni Sosyal Medya Ekleme Paneli </p>
                <form class="forms-sample">
                    <div class="form-group">
                        <label>Başlık</label>
                        @Html.TextBoxFor(x=>x.Name,new{@class="form-control"})
                    </div>
                    <div class="form-group">
                        <label>Link</label>
                        @Html.TextBoxFor(x=>x.Url,new{@class="form-control"})
                    </div>
                    <div class="form-group">
                        <label>İkon</label>
                        @Html.TextBoxFor(x=>x.Icon,new{@class="form-control"})
                    </div>
                    <button type="submit" class="btn btn-outline-primary mr-2">Kaydet</button>
                    @Html.ActionLink("İptal", "Index", "SocialMedia", null, new { @class = "btn btn-danger" })
                </form>
            </div>
        </div>
    </div>
}



