<div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Ziyaret Eden Kişilerin Yaşadıkları Ülkeler</h4>
                    <div class="row">
                      <div class="col-md-5">
                        <div class="table-responsive">
                          <table class="table">
                            <tbody>
                              <tr>
                                <td>
                                  <i class="flag-icon flag-icon-tr"></i>
                                </td>
                                <td>Türkiye</td>
                                <td class="text-right"> 1500 </td>
                                <td class="text-right font-weight-medium"> 71.45% </td>
                              </tr>
                              <tr>
                                <td>
                                  <i class="flag-icon flag-icon-az"></i>
                                </td>
                                <td>Azerbaycan</td>
                                <td class="text-right"> 600 </td>
                                <td class="text-right font-weight-medium"> 33.25% </td>
                              </tr>
                              <tr>
                                <td>
                                  <i class="flag-icon flag-icon-kg"></i>
                                </td>
                                <td>Kırgızistan</td>
                                <td class="text-right"> 515 </td>
                                <td class="text-right font-weight-medium"> 27.45% </td>
                              </tr>
                              <tr>
                                <td>
                                  <i class="flag-icon flag-icon-gb"></i>
                                </td>
                                <td>İngiltere</td>
                                <td class="text-right"> 299 </td>
                                <td class="text-right font-weight-medium"> 19.50% </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="col-md-7">
                        <div id="audience-map" class="vector-map"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>