
@{
    ViewData["Title"] = "AddService";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header border-0">
              <h3 class="mb-0">Hizmet Ekleme Sayfası</h3>
            </div>
<form class="form-group" method="post">  
    <br />
     <label>Hizmet Adı</label>
    <input type="text" name="Title" class="form-control"/>
    <br />
    <label>Resim Yolu</label>
    <input type="text" name="ImageUrl" class="form-control"/>
    <br />
    <button class="btn btn-primary">Kaydet</button> 
</form>


