
<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/User/Dashboard/Index/">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/User/Message/ReceiverMessage/">
              <i class="mdi mdi-message-reply-text menu-icon"></i>
              <span class="menu-title">Gelen Mesajlar</span>
            </a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/User/Message/SenderMessage/">
              <i class="mdi mdi-message-bulleted menu-icon"></i>
              <span class="menu-title">Giden Mesajlar</span>
            </a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/User/Message/SendMessage/">
              <i class="mdi mdi-message-plus menu-icon"></i>
              <span class="menu-title">Yeni Mesaj</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=/User/Default/Index/>
              <i class="mdi mdi-lightbulb-on-outline menu-icon"></i>
              <span class="menu-title">Duyurular</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/User/Profile/Index/">
              <i class="mdi mdi-face-profile menu-icon"></i>
              <span class="menu-title">Profil</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/User/Profile/Index/">
              <i class="mdi mdi-settings menu-icon"></i>
              <span class="menu-title">Ayarlar</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/User/Login/LogOut">
              <i class="ti-power-off menu-icon"></i>
              <span class="menu-title">Çıkış Yap</span>
            </a>
          </li>
        </ul>
      </nav>